<div class="container">
    <div class="py-1">
        <h5>Usuários</h5>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-rounded btn-primary text-uppercase" (click)="onNew()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div *ngFor='let item of lst'>
        <div class="py-1">
            <div class="row">
                <div class="col-md-6">        
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Email:</h6>
                    <p class="card-text">{{ item.applicationUser.email }}</p>
                    <h6 class="card-title">User Name:</h6>
                    <p class="card-text">{{ item.applicationUser.userName }}</p>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</div>