<div class="container">
    <div class="py-1">
        <form [formGroup]="formAdd">
            <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Cadastro de Usuário</h5>
                    <div class="form-group col-md-12">
                        <label>Email:</label>
                        <input type="text" maxlength="255" formControlName="email" placeholder="Informe o email..."
                            class="form-control">
                    </div>
                    <div *ngIf="submitted && f.email.errors">
                        <p *ngIf="f.email.errors.required" class="text-danger small">* Campo email é obrigatório</p>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="button" class="btn btn-rounded btn-primary text-uppercase" (click)="onSave()">
                            <i class="fa fa-save"></i>
                        </button>
                        <button type="button" class="btn btn-rounded btn-danger text-uppercase ml-2" (click)="onCancel()">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>