<div class="container">
    <div class="py-1">
        <form [formGroup]="formAdd">
            <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Cadastro de Centro de Custo</h5>
                    <div class="form-group col-md-12">
                        <label>Descrição:</label>
                        <input type="text" maxlength="255" formControlName="descricao" placeholder="Informe a descrição..."
                            class="form-control">
                    </div>
                    <div *ngIf="submitted && f.descricao.errors">
                        <p *ngIf="f.descricao.errors.required" class="text-danger small">* Campo descrição é obrigatório</p>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Código:</label>
                        <input type="text" maxlength="255" formControlName="codigo" placeholder="Informe o código..."
                            class="form-control" >
                    </div>
                    <div *ngIf="submitted && f.codigo.errors">
                        <p *ngIf="f.codigo.errors.required" class="text-danger small">* Campo código é obrigatório</p>
                    </div>
                     <div *ngIf="centroCusto.id > 0">
                        <div class="form-group col-md-12">
                            <label>Criado por: {{ centroCusto.criadoPor }}</label>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Em: {{ getDataCriacao() | date }}</label>
                        </div>
                    </div>
                    <div *ngIf="centroCusto.alteradoPor">
                        <div class="form-group col-md-12">
                            <label>Última alteração por: {{ centroCusto.alteradoPor }}</label>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Em: {{ getDataAlteracao() | date }}</label>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <button type="button" class="btn btn-rounded btn-primary text-uppercase" (click)="onSave()">
                            <i class="fa fa-save"></i>
                        </button>
                        <button type="button" class="btn btn-rounded btn-danger text-uppercase ml-2" (click)="onCancel()">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>