<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-3 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body text-center">
          <i class="fa fa-user-circle fa-5x"></i>
          <h5 class="card-title">Login</h5>
        </div>
        <div class="card-body text-center">
          <form [formGroup]='form' class="form-signin">
            <div class="form-group">
              <input type="text" formControlName="email" placeholder="Informe o email..." class="form-control">
            </div>
            <div *ngIf="submitted && f.email.errors">
              <p *ngIf="f.email.errors.required" class="text-danger small">* Informe o email</p>
            </div>
            <div class="form-group">
              <input type="password" formControlName="secret" placeholder="Informe a senha..." class="form-control">
            </div>
            <div *ngIf="submitted && f.secret.errors">
              <p *ngIf="f.secret.errors.required" class="text-danger small">* Informe a senha</p>
            </div>
            <button class="btn btn-lg btn-block btn-dark text-uppercase" (click)="onLogin()">
              <i class="fas fa-user-lock"></i>
              Login</button>
          </form>
          </div>
      </div>
    </div>
  </div>
