<form [formGroup]="form">
    <div class="container">
      <div class="py-1">
        <h5>Categoria de Contas a Pagar</h5>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="conta" placeholder="Informe a conta para efetuar a busca..."
                  aria-describedby="button-addon4">
                <div class="input-group-append" id="button-addon4">
                  <button type="button" class="btn btn-rounded btn-primary text-uppercase" name="btnSearch"
                    (click)="onSubmit()">
                    <i class="fa fa-search"></i>
                  </button>
                  <button class="btn btn-rounded btn-primary text-uppercase" (click)="onNew()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngFor='let item of lst'>
          <div class="py-1">
            <div class="row">
              <div class="col-md-6">      
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Código:</h6>
                <p class="card-text">{{ item.codigo }}</p>
                <h6 class="card-title">Nome:</h6>
                <p class="card-text">{{ item.nome }}</p>
              </div>
              <div class="card-footer text-muted">
                <div class="d-flex actions">
                  <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Editar"
                  (click)="edit(item)">
                  <i class="fa fa-edit text-primary"></i>
                </a>
                  <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Excluir"
                  (click)="deleteById(modalDelete,item)">
                  <i class="fa fa-trash text-danger"></i>
                </a>
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <ng-template #modalDelete>
    <div class="inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <h3 class="modal-title">Excluir</h3>
        <button type="button" class="close" (click)="closeDelete()">
          <i class="fa fa-times"></i>
        </button>
      </div>
  
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            Confirma a exclusão?
          </div>
        </div>
      </div>
  
      <div class="modal-footer">
        <button type="button" class="btn btn-rounded btn-success text-uppercase" (click)="confirmDelete()">
          <i class="fa fa-check"></i> Confirmar
        </button>
  
        <button type="button" class="btn btn-rounded btn-default text-uppercase" (click)="closeDelete()">
          <i class="fa fa-times"></i> Cancelar
        </button>
      </div>
  
    </div>
  </ng-template>