<div class="text-center">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <!-- <li data-target="#myCarousel" data-slide-to="1"></li> -->
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/bg3.png" class="d-block w-100" alt="...">
      </div>
      <!-- <div class="carousel-item">
        <img src="../../../assets/bg3.png" class="d-block w-100" alt="...">
      </div> -->
    </div>
  </div>
</div>

<section class="container">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">

        </div>
      </div>
    </div>

  </div>
</section>

<footer class="bd-footer text-muted bg-primary">
  <div class="container-fluid p-3 p-md-5">
    <ul class="bd-footer-links">
      <li> <a [routerLink]="['/login-adm']" class="text-white">
          Área administrativa
        </a></li>
    </ul>
    <div class="h4 text-center text-white">
      <h6>Contato</h6>
      <h6>
        (xx) xxxxxxxxxx
      </h6>
      <h6>xxxxxxxx@xxxxxxx.xxx</h6>

    </div>
    <div class="form-inline">
      <a  class="nav-link text-white">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a  class="nav-link text-white">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</footer>