<form [formGroup]="form">
  <div class="container">
    <div class="py-1">
      <h5>Plano de contas</h5>
      <button class="btn btn-rounded btn-primary text-uppercase" type="button" data-toggle="collapse"
        data-target="#collapseFiltros" aria-expanded="false" aria-controls="collapseFiltros" title="Filtros">
        <i class="fa fa-filter"></i>
      </button>
      <button class="btn btn-rounded btn-primary text-uppercase ml-2" (click)="onNew()" title="Novo">
        <i class="fa fa-plus"></i>
      </button>
      <button class="btn btn-rounded btn-primary text-uppercase ml-2" type="button" data-toggle="collapse"
        data-target="#collapseImportar" aria-expanded="false" aria-controls="collapseImportar" title="Importar">
        <i class="fa fa-upload"></i>
      </button>
      <div class="collapse" id="collapseFiltros">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="descricao"
                  placeholder="Informe a descrição para efetuar a busca..." aria-describedby="button-addon4">

                <button type="button" class="btn btn-rounded btn-primary text-uppercase" name="btnSearch"
                  (click)="onSubmit()"><i class="fa fa-search" title="Pesquisar"></i>
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse" id="collapseImportar">
        <div class="row">
          <div class="col-md-6">

            <input type="file" name="fileToUpload" id="file" #file class="input-upload"
              (change)="handleFileInput($event.target.files)" accept=".txt" required />
            <div class="py-1">
              <div class="alert alert-warning" role="alert">
                Selecione o arquivo que foi exportado do Sistema Domínio de Contabilidade.(contas.txt)
              </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngFor='let item of lst'>
      <div class="py-1">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Código:</h6>
            <p class="card-text">{{ item.id }}</p>
            <h6 class="card-title">Descrição:</h6>
            <p class="card-text">{{ item.descricao }}</p>
            <h6 class="card-title">Classificação:</h6>
            <p class="card-text">{{ item.classificacao }}</p>
            <h6 class="card-title">Conta Reduzida:</h6>
            <p class="card-text">{{ item.contaReduzida }}</p>
            <h6 class="card-title">Tipo:</h6>
            <p class="card-text">{{ item.tipoConta.nome }}</p>
          </div>
          <div class="card-footer text-muted">
            <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Editar" (click)="edit(item)">
              <i class="fa fa-edit text-primary"></i>
            </a>
            <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Excluir"
              (click)="deleteById(modalDelete,item)">
              <i class="fa fa-trash text-danger"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</form>

<ng-template #modalDelete>
  <div class="inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <h3 class="modal-title">Excluir</h3>
      <button type="button" class="close" (click)="closeDelete()">
        <i class="fa fa-times"></i>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          Confirma a exclusão?
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-rounded btn-success text-uppercase" (click)="confirmDelete()">
        <i class="fa fa-check"></i> Confirmar
      </button>

      <button type="button" class="btn btn-rounded btn-default text-uppercase" (click)="closeDelete()">
        <i class="fa fa-times"></i> Cancelar
      </button>
    </div>

  </div>
</ng-template>

<ng-template #modalImportar>
  <div class="inmodal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <h3 class="modal-title">Importação</h3>
      <button type="button" class="close" (click)="closeImportar()">
        <i class="fa fa-times"></i>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>
                  Erros
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let erro of erros'>
                <td>{{ erro }}</td>
              </tr>
            </tbody>
          </table>
          <div class="alert alert-success" role="alert" *ngIf="erros.length === 0">
            Nenhum erro encontrado na importação
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-rounded btn-default text-uppercase" (click)="closeImportar()">
        <i class="fa fa-times"></i> Cancelar
      </button>
    </div>

  </div>
</ng-template>