<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
  <a class="navbar-brand" href="#"><img src="../../../assets/logo_white_produze.png"></a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="quem-somos">Quem Somos</a>
      </li>
    </ul>
  </div>
  <button type="button" class="btn btn btn-dark my-2 my-sm-0" (click)="onLogin()">Login</button>
</nav>